*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:rgb(205, 205, 144);
    width:100vw;
    height:100vh;
    display:grid;
    place-items: center;
}
form{
    background-color: #fab1a0;
    padding:80px;
}
label{
    margin-bottom:25px;
}
input{
    margin:10px;
}
input[type="submit"]{
    place-items: center;
}